body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F9FA !important;
}

.content-section{
  width:80% !important;
  margin: auto !important;
}

input {
  border: 1px solid #999 !important;
}

ul.side-menu{
  margin: 20px auto auto auto;
  align-items: center;
  width: 80%;
}

ul.side-menu li{
  margin-bottom: 20px;
  display: flex;
  background-repeat: no-repeat;
}

ul.side-menu li.guest-list-link {
  background-image: url('../resources/guest-list-image.png') !important;
  
}

.side-menu li.guest-add-link {
  background-image: url('../resources/guest-add.png') !important;
}

.side-menu li > a{
  text-indent: -10000px !important;
  text-decoration: none;
  width:64px !important;
  height: 64px !important;
}

